.barra{
    padding-top:3rem;
    @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.navegacion{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .1s ease-in-out, opacity 0.1s linear,height 0.1s linear;
    @include tablet{
        display: flex;
        gap: 2rem;
        align-items: center;
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    a{
        color: $blanco;
        font-size: 1.8rem;
        display: block;
        text-align: center;
        
        
    }
}

.mobile-menu{
   display: flex;
   justify-content: center;
    @include tablet{
        display: none;
    }
    img{
        width: 5rem;
    }
}

.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tablet{
        align-items: flex-end;
    }

    .dark-mode-boton{
        width: 5rem;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
        filter: invert(100%);
        &:hover{
            cursor: pointer;
        }
        @include tablet{
            margin-top: 0;
            width: 3rem;
        }

        

    }
}

.mostrar{
    visibility: visible;
    opacity: 1;
    height: auto;
}