.alerta{
    text-align: center;
    // font-size: 2.4rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: $blanco;
    font-weight: bold;
    
    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}

table.propiedades{
    margin-top: 3rem;
    width: 100%;
    th{
        background-color: $verde;
        color: $blanco;
    }
    td{
        text-align: center;
    }
    img{
        width: 10rem;
        margin: 0 auto;
    }
}

.imagen-small{
    width: 20rem;
}